version: '3.8'
services:
  recipe-app:
    build: .
    restart: always
    volumes:
      - .:/app
    ports: 
      - $PORT:80
    image: meetbariya/recipe-django
    container_name: recipe_django
    command: gunicorn recipe.wsgi:application --bind $HOST:$PORT 